<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
  </head>
  <body>

    <div class="content">

      <form method = "POST">
        <div class="logo">
          <span>YouTube</span> Video Downloader
        </div>
        {{ form.hidden_tag() }}
        {{ form.link(class="form_input", placeholder = "Link...")}}
        {{ form.submit(class="form_submit")}}
        {% for mess in get_flashed_messages() %}
        <div class = "message">
          {{mess}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </form>
    </div>

  </body>
</html>
